@import "../variable.scss";

body{
    overflow-x: hidden;
}

#rightDecoration{
    position: absolute;
    right: 0;
    top: -1px;
    z-index: -10;
}

#formul{
    padding: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    .cart-content{
        width: 70%;
        min-width: 310px;
        margin-top: 15px;
        h1{
            background-color: #EBEBEB;
            padding: 10px 25px;
            font-size: 45px;
            font-family: "Lato Regular";
        }
        .cart-elements{
            margin: 15px 0;
            display: grid;
            grid-template-columns : auto 9fr;
            grid-column-gap: 10px;
            .cart-img-container{
                grid-row-end: span 1;
                padding: 10px;
                background-color: #EBEBEB;
                img{
                    padding: 5px;
                    background-color: white;
                }
            }
            .cart-text-container{
                grid-row-end: span 2;
                margin: auto 0;
                h3{
                    font-size : 34px;
                    display : flex;
                    justify-content : space-between;
                    flex-wrap: wrap;
                }
                .price{
                    color : $VertPrincipale1;
                    font-family : "Montserrat Regular";
                }
                .delete{
                    color: red;
                }
                p{
                    font-size: 29px;
                    font-family: "Montserrat Light";
                    .bold{
                        font-family: "Montserrat Bold";
                    }
                }
                a{
                    font-family: "Lato Regular";
                    font-size: 25px;
                }
            }
        }
        .total{
            padding: 10px 25px;
            margin-top: 10px;
            background-color: #EBEBEB;
            width: 100%;
            border-radius: 5px;
        }
    }
    .resume{
        text-align: center;
        margin-top: 15px;
        min-width: 310px;
        width: 25%;
        background-color : $MarronSecondaire1;
        border-radius : 5px;
        color: white;
        h2{
            text-align: left;
            margin: 0;
            padding: 25px 15px;
            font-size: 30px;
            font-family: "Montserrat Regular", serif;
        }
        .separator{
            width: 100%;
            height: 1px;
            padding: 0;
            background-color: white;
        }
        div.content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 15px 0;
            div.top {
                width: 90%;
            }
            div.price {
                width: 95%;
            }
            div.bottom {
                width: 90%;
                p {
                    margin: 15px 0;
                }
            }
        }
        p{
            font-family: "Montserrat Regular";
            color: white;
            padding: 15px 15px;
            margin: 0;
            display: flex;
            justify-content: space-between;
        }
        .total{
            font-size: 30px;
        }
        .button{
            display: inline-block;
            margin: 0 auto 25px auto;
            width: 80%;
            background-color: white;
            color: black;
            padding: 11px 15px;
            border: solid 1px white;
            border-radius: 5px;
            transition: 0.2s;
            font-size: 18px;
            font-weight: 700;
        }
        .button:hover{
            border: solid 1px white;
            background-color: transparent;
            color: white;
        }
    }
}

.cart-form{
    text-align: center;
    padding: 0 200px;
    width: 90%;
    margin: 0 auto;
    .input-contain{
        text-align: left;
        width: 100%;
        label,input{
            font-family: "Lato Regular";
            display: block;
            width: 100%;
            margin: 0;
        }
        input{
            border: solid 2px $VertPrincipale1;
            border-radius: 15px;
            padding: 10px 25px;
        }
        input{
            outline: none;
        }
    }
    .input-group{
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .input-contain{
            width: 49%;
        }
    }
    button{
        margin-top: 50px;
        margin-bottom: 75px;
        border: solid 1px white;
        background-color: $VertPrincipale1;
        color: white;
        padding: 10px 75px;
        border-radius: 15px;
        transition: 0.2s;
    }
    button:hover{
        border: solid 1px $VertPrincipale1;
        background-color: transparent;
        color: $VertPrincipale1;

    }
}


@media screen and (max-width:1300px){
    #rightDecoration{
        width: 90%;
    }
    #formul{
        padding: 100px 0;
        .cart-content{
            width: 95%;
            .cart-elements{
                .cart-img-container{
                    img{
                        height: 150px;
                    }
                }
                .cart-text-container{
                    h3{
                        font-size: 25px;
                    }
                    p{
                        font-size: 22px;
                        margin: 0;
                    }
                    .delete{
                        font-size: 23px;
                    }
                }
            }
        }
        .resume{
            width: 30%;
        }
    }
    .cart-form{
        padding: 0 10px;
    }
}   



@media screen and (max-width:767px){
    #rightDecoration{
        display: none;
    }
    #formul{
        padding: 10px 0;
        .cart-content{
            h1{
                font-size: 30px;
            }
            .cart-elements{
                .cart-img-container{
                    img{
                        height: 100px;
                    }
                }
                .cart-text-container{
                    h3{
                        font-size: 20px;
                    }
                    p{
                        font-size: 18px;
                        margin: 0;
                    }
                    .delete{
                        font-size: 19px;
                    }
                }
            }
        }
        .resume{
            width: 300px;
            min-width: 0;
        }
    }
    .cart-form{
        .input-group{
            .input-contain{
                flex-basis: 100%;
            }
        }
    }
}