@import "../variable";
nav{
    height: 212px;
    padding: 16px !important;
    a.nav-link{
        color: white;
        font-family: "Montserrat Regular", serif;
        text-align: center;
        padding: 5px ;
        font-size: 25px;
    }
    a.navbar-brand{
        margin: 0;
        color: $VertPrincipale1;
        font-family : "Montserrat Bold";
    }

    li.separator{
        display: none;
        width: 100px;
        height: 1px;
        background-color: white;
        margin: 0 auto;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    div.navbar-collapse{
        position: absolute;
        right: 50px;
    }

    li.nav-item{
        width: auto;
        margin: auto 0;
        div {
            svg {
                margin: auto 0;
            }
        }
    }
}

//
//                          ┏╋━━━━━━━━━◥◣◆◢◤━━━━━━━━━╋┓
//                                 RIGHT DECO
//                          ┗╋━━━━━━━━━◢◤◆◥◣━━━━━━━━━╋┛
//

.rightDecoration {
    position: absolute;
    right: 0;
    top: -1px;
    z-index: -10;
}
#rightDecorationDefault {
    display: block;
}
#rightDecoration1301 {
    display: none;
}
@media screen and (max-width: 1500px) {
    .rightDecoration {
        right: -490px;
    }
    #rightDecorationDefault {
        display: none;
    }
    #rightDecoration1301 {
        display: block;
        top: 210px;
    }
    .navbar {
        background-color: #7D8F41;
    }
}
@media screen and (max-width: 1059px){
    .rightDecoration {
        display: none !important;
    }
}


.HeaderWave{
    display: none;
}

.logo {
    width: 430px;
}
#HeaderLogo_dark {
    display: block;
}
#HeaderLogo_light {
    display: none;
}

@media screen and (max-width: 1500px) {
    .rightDecoration {
        right: -490px;
    }
    #HeaderLogo_dark {
        display: none;
    }
    #HeaderLogo_light {
        display: block;
    }
    .navbar {
        background-color: #7D8F41;
    }
}

@media screen and (max-width:1301px){
    nav{
        a.nav-link{
            font-size: 19px;
            padding: 0;
        }
    }
}
@media screen and (max-width:1301px) and (min-width: 350px){
    nav{
        img.logo {
            width: 350px;
        }
    }
}

@media screen and (max-width: 1059px){
    nav {
        background: rgb(125,143,65);
        background: linear-gradient(180deg, rgba(40,54,24,1) 0%, rgb(65, 80, 36) 40%, rgba(125,143,65,1) 100%);
        min-height: 212px !important;
        height: auto;
        display: block !important;
        .containerLogo {
            display: flex;
            justify-content: center;
        }
        .navbar-collapse {
            position: relative !important;
            right: 0 !important;
            display: block;
            justify-content: center;
            box-sizing: content-box;
            ul {
                margin: 0 !important;
            }
        }
    }
    .HeaderWave{
        display: block;
        transform: rotate(0.5turn);
    }
}

@media screen and (max-width: 767px){
    nav {
        background: rgb(125,143,65);
        background: linear-gradient(180deg, rgba(40,54,24,1) 0%, rgb(65, 80, 36) 40%, rgba(125,143,65,1) 100%);
        li.separator{
            display: flex;
        }
        div.navbar-collapse{
            position: relative;
        }
        div.collapse {
            display: none;
        }
        li.nav-item {
            margin: 10px;
        }
        a.nav-link.animation:hover::after{
            width: 0;
        }
        .none-res {
            display: none;
        } 
    }
}
@media screen and (max-width: 350px){
    nav {
        .logo {
            width: 95%;
        }
    }
}


::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #3C3C3C;
    border: none;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover { // Scrollbar Hover Button
    background: #000000;
}
::-webkit-scrollbar-thumb:active { // Scrollbar Active Button
    background: #000000;
}
::-webkit-scrollbar-track { // Background Scrollbar
    background: #BEBEBE;
}
::-webkit-scrollbar-corner {
    background: transparent;
}