@import "../variable";
nav{
    a.nav-link{
        color: white;
        font-family : "Montserrat Regular";
        text-align: center;
        padding: 5px ;
        font-size: 25px;
    }
    a.navbar-brand{
        margin: 0;
        color: $VertPrincipale1;
        font-family : "Montserrat Bold";
        img{
            width : 100px;
        }
    }

    li.separator{
        display: none;
        width: 100px;
        height: 1px;
        background-color: white;
        margin: 0 auto;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    div.navbar-collapse{
        position: absolute;
        right: 50px;
    }

    li.nav-item{
        width: auto;
        margin: auto 0;
    }
}

#bottom-nav{
    display: none;
}

@media screen and (max-width:1301px){
    nav{
        div.navbar-collapse{
            position: absolute;
            right: 10px;
        }
        a.nav-link{
            font-size: 16px;
            padding: 0;
        }
    }
}

@media screen and (max-width: 767px){
    nav {
        background: rgb(125,143,65);
        background: linear-gradient(180deg, rgba(40,54,24,1) 0%, rgb(65, 80, 36) 40%, rgba(125,143,65,1) 100%);
        li.separator{
            display: flex;
        }
        div.navbar-collapse{
            position: relative;
            right: 0;
        }
        a.nav-link.animation:hover::after{
            width: 0;
        }
    }
    #bottom-nav{
        display: block;
    }
}